<div class="row">
  <div class="col-md-12">
    <form action="/books" method="post">
      <div class="form-group">
        <label for="title">Book Title</label>
        <input type="text" class="form-control" name="name" placeholder="Book Title">
      </div>
      <div class="form-group">
        <label for="img_url">Image of Book</label>
        <input type="text" class="form-control" name="img_url" placeholder="Image Url">
      </div>
      <div class="form-group">
        <label for="description">Description of Book</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
      </div>
      <input type="hidden" name="book_id" value="<%= book_id %>">
      <input type="hidden" name="user_id" value="<%= user_id %>">
      <button type="submit" class="btn btn-primary">Submit Club</button>
    </form>
  </div>
</div>